<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
   <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="uye.aspx"/>

      </files>
    </defaultDocument>
  </system.webServer>
    
    
  <system.web>
	  <trust level="Full"/>
	  <pages enableEventValidation="false" validateRequest="false" enableViewStateMac="false" >
    </pages>
	  <securityPolicy>
		  <trustLevel name="Full" policyFile="internal"/>
	  </securityPolicy>
	 
    <!--<identity impersonate="False"/>-->
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime  maxRequestLength="1048576" executionTimeout="3600" targetFramework="4.7.2"/>
  </system.web>
  <connectionStrings>
    <add name="baglanticonfig" connectionString="Data Source=mssql10.trwww.com;Initial Catalog=serafett_adminSQL; Persist Security Info=True; User ID=adminSQL; Password=degistir; Max Pool Size=300"
      providerName="System.Data.SqlClient" />
	  <add name="adminConnectionString" connectionString="Data Source=mssql10.trwww.com;Initial Catalog=serafett_adminSQL;Persist Security Info=True;User ID=adminSQL;Password=degistir"
	   providerName="System.Data.SqlClient" />
  </connectionStrings>
    
  <system.codedom>
    <compilers>
      
    </compilers>
  </system.codedom>
  

</configuration>
